ecommerce/__pycache__/*
accounts/__pycache__/*
accounts/migrations/*
accounts/migrations/__pycache__/*
addresses/__pycache__/*
addresses/migrations/*
addresses/migrations/__pycache__/*
analytics/__pycache__/*
analytics/migrations/*
analytics/migrations/__pycache__/*
billing/__pycache__/*
billing/migrations/*
billing/migrations/__pycache__/*
carts/__pycache__/*
carts/migrations/*
carts/migrations/__pycache__/*
db.sqlite3
orders/__pycache__/*
orders/migrations/*
orders/migrations/__pycache__/*
products/__pycache__/*
products/migrations/*
products/migrations/__pycache__/*
search/__pycache__/*
search/migrations/__pycache__/*
tags/__pycache__/*
tags/migrations/*
tags/migrations/__pycache__/*
static_my_project/css/006.png
static_my_project/img/*