{% load static %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--<script src="{% static 'js/popper.min.js' %}"></script>-->
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!-- Latest compiled jquery-confirm -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- custom ecommerce JS -->
<script src="{% static 'js/ecommerce.js' %}"></script>
<!-- Main ecommerce JS -->
<script src="{% static 'js/ecommerce.main.js' %}"></script>
<!-- Django Secure AJAX JS -->
<script src="{% static 'js/csrf.ajax.js' %}"></script>
<!-- Stripe payment method JS -->
<script src="https://js.stripe.com/v3/"></script>
<!-- JS Render -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.3/jsrender.js" ></script>

{% include 'base/js_templates.html' %}