body {
    color: white;
    background-image: url("006.png");
    background-repeat: no-repeat;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.table {
    color: white;
}